body{
    display: flex;
    justify-content: center;
}

h1{
    color: beige;
}

h2{
    font-size: 1rem;
}

img{
    width: 100%;
}

p{
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column-reverse;
}

h3{
    color: #000;
}

.login-form{
    display: inline;
}

.input{
    padding: 1rem;
}